repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/citation-file-format/cffconvert
  rev: 054bda51dbe278b3e86f27c890e3f3ac877d616c
  hooks:
  - id: validate-cff
- repo: local
  hooks:
  - id: format
    name: Format
    entry: hatch fmt
    types: [python]
    language: system
    pass_filenames: false

  - id: bandit
    name: Bandit Security Scan
    entry: hatch run security
    language: system
    pass_filenames: false

  - id: type-check
    name: Type Check
    entry: hatch run typing
    language: system
    pass_filenames: false
