name: CI

on:
  pull_request:
    branches: [main, dev]

permissions:
  contents: read

jobs:
  tests:
    if: contains(github.event.head_commit.message, '[skip]') == false && github.event.action != 'closed'
    name: Lint & Test Suite
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ${{ github.event.pull_request.base.ref == 'main' && fromJson('["ubuntu-latest","macos-latest","windows-latest"]') || fromJson('["ubuntu-latest"]') }}

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Run pre-commit hooks
        if: runner.os == 'Linux'
        run: uvx hatch run all

      - name: Run tests
        run: uvx hatch test --all -c
