name: Publish Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    environment: main
    env:
      HATCH_INDEX_USER: ${{ vars.HATCH_INDEX_USER }}
      HATCH_INDEX_AUTH: ${{ secrets.HATCH_INDEX_AUTH }}
    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Test
      run: uvx hatch test --all -c

    - name: Build project
      run: uvx hatch build

    - name: Publish
      run: uvx hatch publish
